<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .headerBottom {
            background: url(/footer.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 6px 0;
        }

        er-container {
            height: 410px;
            padding: 20px;
        }

        .footer-title {
            height: 65px;
            font-size: 50px;
            color: #001251;
            font-weight: bold;
        }

        .footer-subtitle {
            font-size: 22px;
            color: #FFFFFF;
            font-weight: 800;
            font-style: italic;
        }

        .footer-links a {
            font-size: 18px;
            text-decoration: none;
            color: #333333;
            font-weight: 500;
            display: block;
        }

        .footer-contact span {
            font-size: 20px;
            font-weight: 500;
            display: block;
        }

        .footer-copyright {
            font-size: 18px;
            color: #191919;
        }

        .footer-copyright span {
            font-size: 20px;
            font-weight: 700;
        }

        hr {
            color: #000000;
            margin: 2px;
            border-color: #000000;
        }
    </style>



</head>

<body>
    <div class="headerBottom">
        <div class="container-fluid footer-container">
            <div class="row">
                <div class="col text-center">
                    <div class="footer-title">DalatFarm</div>
                    <div class="footer-subtitle">Sản phẩm chất lượng cao từ Đà Lạt</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="footer-subtitle">DalatFarm</div>
                    <div class="footer-contact">
                        <span>Tel1: 0378273708</span>
                        <span>Tel2: 0378273708</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-subtitle">Sản phẩm</div>
                    <div class="footer-links">
                        <a href="#">Sản phẩm bán chạy</a>
                        <a href="#">Sản phẩm trong tỉnh</a>
                        <a href="#">Sản phẩm ngoài tỉnh</a>
                        <a href="#">Sản phẩm nhập khẩu</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-subtitle">Về DalatFarm</div>
                    <div class="footer-links">
                        <a href="#">Lĩnh Vực Hình Thành</a>
                        <a href="#">Lĩnh Vực Hoạt Động</a>
                        <a href="#">Cam kết Chất Lượng</a>
                        <a href="#">Liên Hệ</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-subtitle">Thông tin thêm</div>
                    <div class="footer-links">
                        <a href="#">Tư Vấn Kỹ Thuật</a>
                        <a href="#">Thư Viện</a>
                        <a href="#">Đối Tác</a>
                        <a href="#">Hỗ Trợ Khách Hàng</a>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row text-center">
                <div class="col">
                    <span class="footer-copyright"> Copyright </span>
                    <span class="footer-copyright"> 2020 -2024 </span>
                    <span class="footer-copyright"> sàn giao dịch sản phẩm chăn nuôi DalatFarm </span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>