<div class="container" style="background: white;">
    <div style="max-width: 100%; word-wrap: break-word; font-size: 18px;">
        <div style="margin-top: 50px;"></div>
        <p>Sàn giao dịch sản phẩm chăn nuôi Lâm Đồng cho phép người truy cập tìm kiếm, xem chi tiết, đánh giá sản phẩm, đăng nhập tài khoản, thêm sản phẩm vào giỏ hàng và liên hệ với người bán.</p>
        <h4><b>1. Hướng dẫn chi tiết đăng ký đăng nhập</b></h4>
        <p>Người dùng nhấn vào phần Đăng ký tại góc trên bên phải màn hình, trang Đăng ký sẽ hiển thị.Khách hàng chưa có tài khoản kéo xuống phần đăng ký để tạo tài khoản.</p>
        <h5><b>1.1. Đăng ký tài khoản</b></h5>
        <p>Người dùng điền đầy đủ vào các trường thông tin</p>
        <div style="max-width: 100%; display: flex; justify-content: center;">
            <img src="/assets/hdgd.png" alt="Trang đăng ký" style="width: 100%;" />
        </div>
        <h5><b>1.2. Đăng nhập</b></h5>
        <div style="max-width: 100%; display: flex; justify-content: center;">
            <img src="/assets/hdgd1.png" alt="Trang đăng nhập" style="width: 100%;" />
        </div>
        <p>Người dùng cần nhập đúng "Tên đăng nhập" và "Mật khẩu" đã đăng ký trước đó
            <br />Giao diện sau khi đăng nhập thành công, tên đăng nhập hiển thị tại góc màn hình.</p>
        <div style="max-width: 100%; display: flex; justify-content: center;">
            <img src="/assets/hdgd2.png" alt="Trang đăng nhập thành công" style="width: 100%;" />
        </div>
        <h4><b>2. Các thao tác trên trang</b></h4>
        <h5><b>2.1. Tìm kiếm sản phẩm</b></h5>
        <p>Người dùng gõ từ khóa vào ô tìm kiếm, trang web sẽ hiển thị đề xuất các sản phẩm chứa từ khóa có trên trang. Khách hàng nhấn Tìm kiếm/Enter để hiển thị tất cả kết quả tìm kiếm.
            <br />Ngoài ra, người dùng có thể lọc theo ngành hàng bằng cách nhấn vào mũi tên bên trái ô từ khóa</p>
        
        <h5><b>2.2. Mua hàng</b></h5>
        <p>Người mua xem chi tiết sản phẩm, thông tin mô tả và các thông tin công khai của người bán.
            <br />Để mua sản phẩm, người mua lựa chọn sản phẩm muốn mua và nhấn vào Thêm vào giỏ hàng.</p>
        <div style="margin: 10px; display: flex; justify-content: center;">Chi tiết sản phẩm</div>
        <div style="max-width: 100%; display: flex; justify-content: center;">
            <img src="/assets/hdgd3.png" alt="Trang giỏ hàng" style="width: 100%;" />
        </div>
        <div style="margin: 10px; display: flex; justify-content: center;">Giỏ hàng</div>
        <p>Người mua xem và quản lý sản phẩm đã chọn trước đó.
            <br />Sau khi đã xác nhận thì điền thông tin phía dưới để tiến hành đặt hàng</p>
        <div style="max-width: 100%; display: flex; justify-content: center;">
            <img src="/assets/hdgd4.png" alt="Thanh tìm kiếm" style="width: 100%;" />
        </div>
        <div style="margin: 10px; display: flex; justify-content: center;">Đơn hàng</div>
        <p>Người mua có thể xem trạng thái đơn hàng và hủy đơn hàng.</p>
        <div style="max-width: 100%; display: flex; justify-content: center;">
            <img src="/assets/hdgd5.png" alt="Trang giỏ hàng" style="width: 100%;" />
        </div>
    </div>
    
</div>